@import "tailwindcss";

:root {
  --primary: #6c5ce7;
  --secondary: #968efd;
  --accent: #fd79a8;
  --white: #f8f9fa;
  --dark: #2d3436;
  --gray: #929292;
  --success: #00b894;
  --warning: #fdcb6e;
  --danger: #ef4242;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-white: var(--white);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);

  --font-open-sans: var(--font-open-sans);
}

.add-btn:hover {
  background-color: var(--secondary);
  transform: translateY(-2px);
}

.btnDanger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  color: var(--danger);
  cursor: pointer;
  transition: color 0.25s;
}

.btnDanger:hover {
  color: var(--accent);
  background-color: transparent;
}

.btnEdit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  color: var(--primary);
  cursor: pointer;
  transition: color 0.25s;
}

.btnEdit:hover {
  color: var(--secondary);
  background-color: transparent;
}

.btnChek {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.btnList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.textDone {
  text-decoration: line-through;
  color: var(--gray);
}
